<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghw.minibox.mapper.MbGameMapper">

    <resultMap type="com.ghw.minibox.entity.MbGame" id="MbGameMap">
        <result property="id" column="id" jdbcType="OTHER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="OTHER"/>
        <result property="state" column="state" jdbcType="OTHER"/>
        <result property="gameState" column="game_state" jdbcType="OTHER"/>
        <result property="score" column="score" jdbcType="OTHER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="releaseTime" column="release_time" jdbcType="TIMESTAMP"/>
        <result property="developer" column="developer" jdbcType="VARCHAR"/>
        <result property="publisher" column="publisher" jdbcType="VARCHAR"/>
        <result property="scoreCount" column="score_count" jdbcType="OTHER"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
        <result property="originPrice" column="origin_price" jdbcType="OTHER"/>
        <result property="coverImg" column="cover_img" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="queryInId" resultMap="MbGameMap">
        SELECT id,
        name,
        price,
        state,
        game_state,
        score,
        description,
        release_time,
        developer,
        publisher,
        score_count,
        create_date,
        update_date,
        origin_price,
        cover_img
        FROM mb_game
        WHERE id IN
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <!--查询单个-->
    <select id="queryById" resultMap="MbGameMap">
        select id,
               name,
               price,
               state,
               game_state,
               score,
               description,
               release_time,
               developer,
               publisher,
               score_count,
               create_date,
               update_date,
               origin_price,
               cover_img
        from minibox.mb_game
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="MbGameMap">
        select id,
               name,
               price,
               state,
               game_state,
               score,
               description,
               release_time,
               developer,
               publisher,
               score_count,
               create_date,
               update_date,
               origin_price,
               cover_img
        from minibox.mb_game
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="MbGameMap">
        select
        id, name, price, state, game_state, score, description, release_time, developer, publisher, score_count,
        create_date, update_date, origin_price, cover_img
        from minibox.mb_game
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and `name` = #{name}
            </if>
            <if test="price != null">
                and price = #{price}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
            <if test="gameState != null">
                and game_state = #{gameState}
            </if>
            <if test="score != null">
                and score = #{score}
            </if>
            <if test="description != null and description != ''">
                and `description` = #{description}
            </if>
            <if test="releaseTime != null">
                and release_time = #{releaseTime}
            </if>
            <if test="developer != null and developer != ''">
                and developer = #{developer}
            </if>
            <if test="publisher != null and publisher != ''">
                and publisher = #{publisher}
            </if>
            <if test="scoreCount != null">
                and score_count = #{scoreCount}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="updateDate != null">
                and update_date = #{updateDate}
            </if>
            <if test="originPrice != null">
                and origin_price = #{originPrice}
            </if>
            <if test="coverImg != null and coverImg != ''">
                and cover_img = #{coverImg}
            </if>
        </where>
        ORDER BY create_date DESC;
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into minibox.mb_game(name, price, score, description, release_time, developer,
                                    publisher, score_count, origin_price, cover_img)
        values (#{name}, #{price}, #{score}, #{description}, #{releaseTime}, #{developer},
                #{publisher}, #{scoreCount}, #{originPrice}, #{coverImg})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into minibox.mb_game(name, price, state, game_state, score, description, release_time, developer,
        publisher, score_count, create_date, update_date, origin_price, cover_img)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.price}, #{entity.state}, #{entity.gameState}, #{entity.score},
            #{entity.description}, #{entity.releaseTime}, #{entity.developer}, #{entity.publisher},
            #{entity.scoreCount}, #{entity.createDate}, #{entity.updateDate}, #{entity.originPrice}, #{entity.coverImg})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into minibox.mb_game(name, price, state, game_state, score, description, release_time, developer,
        publisher, score_count, create_date, update_date, origin_price, cover_img)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.price}, #{entity.state}, #{entity.gameState}, #{entity.score},
            #{entity.description}, #{entity.releaseTime}, #{entity.developer}, #{entity.publisher},
            #{entity.scoreCount}, #{entity.createDate}, #{entity.updateDate}, #{entity.originPrice}, #{entity.coverImg})
        </foreach>
        on duplicate key update
        name = values(name) , price = values(price) , state = values(state) , game_state = values(game_state) , score =
        values(score) , description = values(description) , release_time = values(release_time) , developer =
        values(developer) , publisher = values(publisher) , score_count = values(score_count) , create_date =
        values(create_date) , update_date = values(update_date) , origin_price = values(origin_price) , cover_img =
        values(cover_img)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update minibox.mb_game
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="gameState != null">
                game_state = #{gameState},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="releaseTime != null">
                release_time = #{releaseTime},
            </if>
            <if test="developer != null and developer != ''">
                developer = #{developer},
            </if>
            <if test="publisher != null and publisher != ''">
                publisher = #{publisher},
            </if>
            <if test="scoreCount != null">
                score_count = #{scoreCount},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
            <if test="originPrice != null">
                origin_price = #{originPrice},
            </if>
            <if test="coverImg != null and coverImg != ''">
                cover_img = #{coverImg},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from minibox.mb_game
        where id = #{id}
    </delete>

</mapper>