<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ghw.minibox.mapper.MbParentMenuMapper">
    <resultMap id="menuMap" type="com.ghw.minibox.entity.MbParentMenu">
        <id property="id" column="parent_id"/>
        <result property="menuName" column="parent_name"/>
        <result property="menuIcon" column="menu_icon"/>
        <collection property="subMenuList" ofType="com.ghw.minibox.entity.MbSubMenu">
            <id property="id" column="sub_id"/>
            <result property="subMenuName" column="sub_name"/>
            <result property="parentMenuId" column="parent_menu_id"/>
        </collection>
    </resultMap>


    <select id="queryAll" resultMap="menuMap">
        SELECT m.id AS parent_id,
        m.menu_name AS parent_name,
        m.menu_icon,
        s.id AS sub_id,
        s.sub_menu_name AS sub_name,
        s.parent_menu_id
        FROM mb_menu AS m
        LEFT JOIN mb_sub_menu AS s ON (s.parent_menu_id = m.id)
        <where>
            <if test="id != null">
                m.id =#{id}
            </if>
            <if test="menuName != null and menuName != '' ">
                m.menu_name = #{menuName}
            </if>
        </where>
        ORDER BY parent_id;
    </select>

    <insert id="saveMenu" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mb_menu(menu_name)
        VALUES (#{menuName})
    </insert>

    <update id="updateMenu">
        UPDATE mb_menu
        SET menu_name = #{menuName}
        WHERE id = #{id}
    </update>

    <delete id="deleteMenu">
        DELETE p,s
        FROM mb_menu p,
             mb_sub_menu s
        WHERE p.id = s.parent_menu_id
          AND p.id = #{id}
    </delete>


</mapper>