<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghw.minibox.mapper.MbOrderMapper">

    <resultMap type="com.ghw.minibox.entity.MbOrder" id="MbOrderMap">
        <result property="id" column="id" jdbcType="OTHER"/>
        <result property="orderId" column="order_id" jdbcType="OTHER"/>
        <result property="orderGameId" column="order_game_id" jdbcType="OTHER"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="OTHER"/>
        <result property="success" column="is_success" jdbcType="OTHER"/>
        <result property="orderCost" column="order_cost" jdbcType="OTHER"/>
        <result property="uid" column="uid" jdbcType="OTHER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="MbOrderMap">
        select id,
               order_id,
               order_game_id,
               create_date,
               update_date,
               status,
               is_success,
               order_cost,
               uid
        from minibox.mb_order
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="MbOrderMap">
        select id,
               order_id,
               order_game_id,
               create_date,
               update_date,
               status,
               is_success,
               order_cost,
               uid
        from minibox.mb_order
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="MbOrderMap">
        select
        id, order_id, order_game_id, create_date, update_date, status, is_success, order_cost, uid
        from minibox.mb_order
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="orderId != null">
                and order_id = #{orderId}
            </if>
            <if test="orderGameId != null">
                and order_game_id = #{orderGameId}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="updateDate != null">
                and update_date = #{updateDate}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="success != null">
                and is_success = #{success}
            </if>
            <if test="orderCost != null">
                and order_cost = #{orderCost}
            </if>
            <if test="uid != null">
                and uid = #{uid}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into minibox.mb_order(order_id, order_game_id, is_success, order_cost, uid)
        values (#{orderId}, #{orderGameId}, #{success}, #{orderCost}, #{uid})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into minibox.mb_order(order_id, order_game_id, is_success, order_cost,uid)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.orderId}, #{entity.orderGameId},#{entity.success}, #{entity.orderCost}, #{entity.uid})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into minibox.mb_order(order_id, order_game_id, is_success, order_cost,uid)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.orderId}, #{entity.orderGameId}, #{entity.success}, #{entity.orderCost}, #{entity.uid})
        </foreach>
        on duplicate key update
        order_id = values(order_id) , order_game_id = values(order_game_id) , is_success = values(is_success) ,
        order_cost =
        values(order_cost) , uid = values(uid)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update minibox.mb_order
        <set>
            <if test="orderId != null">
                order_id = #{orderId},
            </if>
            <if test="orderGameId != null">
                order_game_id = #{orderGameId},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="success != null">
                is_success = #{success},
            </if>
            <if test="orderCost != null">
                order_cost = #{orderCost},
            </if>
            <if test="uid != null">
                uid = #{uid},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        DELETE
        FROM mb_order
        WHERE id = #{id}
        <if test="orderId != null">
            AND order_id = #{orderId}
        </if>
    </delete>

</mapper>