<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ghw.minibox.mapper.MbSubMenuMapper">
    <resultMap id="menuMap" type="com.ghw.minibox.entity.MbSubMenu">
        <id property="id" column="id"/>
        <result property="menuName" column="sub_menu_name"/>
        <result property="parentMenuId" column="parent_menu_id"/>
        <result property="url" column="sub_menu_route_url"/>
    </resultMap>


    <select id="queryAll" resultMap="menuMap">
        SELECT s.id,
        s.sub_menu_name,
        s.parent_menu_id,
        s.sub_menu_route_url
        FROM mb_sub_menu AS s
        <where>
            <if test="id != null">
                s.id = #{id}
            </if>
            <if test="menuName != null and menuName != '' ">
                AND s.sub_menu_name = #{menuName}
            </if>
            <if test="parentMenuId != null">
                AND s.parent_menu_id = #{parentMenuId}
            </if>
            <if test="url != null and url != '' ">
                AND s.sub_menu_route_url = #{url}
            </if>
        </where>
    </select>

    <insert id="saveMenu" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mb_sub_menu(sub_menu_name, parent_menu_id, sub_menu_route_url)
        VALUES (#{menuName}, #{parentMenuId}, #{url})
    </insert>

    <update id="updateMenu">
        UPDATE mb_sub_menu
        <set>
            <if test="menuName != null and menuName != '' ">
                sub_menu_name = #{menuName},
            </if>
            <if test="parentMenuId != null">
                parent_menu_id = #{parentMenuId},
            </if>
            <if test="url != null and url != '' ">
                sub_menu_route_url = #{url}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteMenu">
        DELETE
        FROM mb_sub_menu
        WHERE id = #{id}
    </delete>


</mapper>