<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghw.minibox.mapper.MbTagMapper">

    <resultMap type="com.ghw.minibox.entity.MbTag" id="MbTagMap">
        <result property="id" column="id" jdbcType="OTHER"/>
        <result property="tagName" column="tag_name" jdbcType="VARCHAR"/>
        <result property="gid" column="gid" jdbcType="OTHER"/>
        <result property="state" column="state" jdbcType="OTHER"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="MbTagMap">
        select id,
               tag_name,
               gid,
               state,
               create_date,
               update_date
        from minibox.mb_tag
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="MbTagMap">
        select id,
               tag_name,
               gid,
               state,
               create_date,
               update_date
        from minibox.mb_tag
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="MbTagMap">
        select
        id, tag_name, gid, state, create_date, update_date
        from minibox.mb_tag
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="tagName != null and tagName != ''">
                and tag_name = #{tagName}
            </if>
            <if test="gid != null">
                and gid = #{gid}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="updateDate != null">
                and update_date = #{updateDate}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into minibox.mb_tag(tag_name, gid, state, create_date, update_date)
        values (#{tagName}, #{gid}, #{state}, #{createDate}, #{updateDate})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into minibox.mb_tag(tag_name, gid, state, create_date, update_date)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.tagName}, #{entity.gid}, #{entity.state}, #{entity.createDate}, #{entity.updateDate})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into minibox.mb_tag(tag_name, gid, state, create_date, update_date)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.tagName}, #{entity.gid}, #{entity.state}, #{entity.createDate}, #{entity.updateDate})
        </foreach>
        on duplicate key update
        tag_name = values(tag_name) , gid = values(gid) , state = values(state) , create_date = values(create_date) ,
        update_date = values(update_date)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update minibox.mb_tag
        <set>
            <if test="tagName != null and tagName != ''">
                tag_name = #{tagName},
            </if>
            <if test="gid != null">
                gid = #{gid},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from minibox.mb_tag
        where id = #{id}
    </delete>

</mapper>