<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghw.minibox.mapper.MbUserMapper">

    <resultMap type="com.ghw.minibox.entity.MbUser" id="MbUserMap">
        <result property="id" column="id" jdbcType="OTHER"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="INTEGER"/>
        <result property="userState" column="user_state" jdbcType="VARCHAR"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
        <result property="state" column="state" jdbcType="OTHER"/>
        <result property="userImg" column="user_img" jdbcType="VARCHAR"/>
        <collection property="roleList" ofType="com.ghw.minibox.entity.MbRole">
            <result property="id" column="role_id"/>
            <result property="name" column="role_name"/>
            <result property="state" column="role_state"/>
            <result property="createDate" column="role_create_date"/>
            <result property="updateDate" column="role_update_date"/>
        </collection>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="MbUserMap">
        SELECT id,
               nickname,
               username,
               description,
               level,
               user_state,
               create_date,
               update_date,
               state,
               user_img
        FROM minibox.mb_user
        WHERE id = #{id}
    </select>
    <!-- in查询 -->
    <select id="queryInId" resultMap="MbUserMap">
        SELECT id,
        nickname,
        username,
        description,
        level,
        user_state,
        create_date,
        update_date,
        state,
        user_img
        FROM mb_user

        WHERE id IN
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>

    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="MbUserMap">
        SELECT id,
               nickname,
               username,
               description,
               level,
               user_state,
               create_date,
               update_date,
               state,
               user_img
        FROM minibox.mb_user
        LIMIT #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="MbUserMap">
        SELECT
        u.id,
        u.nickname,
        u.username,
        u.description,
        u.`level`,
        u.user_state,
        u.create_date,
        u.update_date,
        u.state,
        u.user_img ,
        roles.id AS role_id,
        roles.`name` AS role_name,
        roles.state AS role_state,
        roles.create_date AS role_create_date,
        roles.update_date AS role_update_date
        FROM mb_user AS u
        LEFT JOIN mb_user_role AS relation ON (relation.uid = u.id)
        LEFT JOIN mb_role AS roles ON (roles.id = relation.rid)
        <where>
            <if test="id != null">
                AND u.id = #{id}
            </if>
            <if test="nickname != null and nickname != '' ">
                AND u.nickname = #{nickname}
            </if>
            <if test="username != null and username != '' ">
                AND u.`username` = #{username}
            </if>
            <if test="description != null and description != ''">
                AND u.`description` = #{description}
            </if>
            <if test="level != null">
                AND u.`level` = #{level}
            </if>
            <if test="userState != null and userState != ''">
                AND u.user_state = #{userState}
            </if>
            <if test="createDate != null">
                AND u.create_date = #{createDate}
            </if>
            <if test="updateDate != null">
                AND u.update_date = #{updateDate}
            </if>
            <if test="state != null">
                AND u.state = #{state}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO minibox.mb_user(nickname, username, password, user_img)
        VALUES (#{nickname}, #{username}, #{password}, #{userImg})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO minibox.mb_user(nickname, username, password, user_img)
        VALUES
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.nickname}, #{entity.username}, #{entity.password}, #{userImg})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO minibox.mb_user(nickname, username, password, user_img)
        VALUES
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.nickname}, #{entity.username}, #{entity.password}, #{userImg})
        </foreach>
        ON DUPLICATE KEY UPDATE nickname = values(nickname) , username = values(username) , password = values(password)
        , user_img = values(user_img)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        UPDATE minibox.mb_user
        <set>
            <if test="nickname != null and nickname != ''">
                `nickname` = #{nickname},
            </if>
            <if test="username != null and username != ''">
                `username` = #{username},
            </if>
            <if test="password != null and password != ''">
                `password` = #{password},
            </if>
            <if test="description != null and description != ''">
                `description` = #{description},
            </if>

            <if test=" userImg != null and userImg != '' ">
                `user_img` = #{userImg}
            </if>

            <if test="level != null">
                `level` = #{level},
            </if>
            <if test="userState != null and userState != ''">
                `user_state` = #{userState},
            </if>
            <if test="state != null">
                `state` = #{state},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        DELETE
        FROM minibox.mb_user
        WHERE id = #{id}
    </delete>

</mapper>