<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghw.minibox.mapper.MbBlockMapper">

    <!-- 1. 显示所有版块的名称和ID-->
    <resultMap type="com.ghw.minibox.entity.MbBlock" id="showAllMap">
        <id property="bid" column="bid" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="gid" column="gid"/>
        <result property="state" column="state"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="queryAll" resultMap="showAllMap">
        SELECT bid,
               name
        FROM mb_block
    </select>
    <!-- 1. end-->


    <!--查询单个-->
    <select id="queryById" resultMap="showAllMap">
        select bid,
               name,
               gid,
               state,
               create_time,
               update_time
        from minibox.mb_block
        where bid = #{bid}
    </select>

    <select id="queryInId" resultMap="showAllMap">
        SELECT bid,
        name,
        gid,
        state,
        create_time,
        update_time
        from minibox.mb_block
        where bid in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>


    <!--新增所有列-->
    <insert id="insert" keyProperty="bid" useGeneratedKeys="true">
        insert into minibox.mb_block(name, gid, state, create_time, update_time)
        values (#{name}, #{gid}, #{state}, #{createTime}, #{updateTime})
    </insert>

    <insert id="insertBatch" keyProperty="bid" useGeneratedKeys="true">
        insert into minibox.mb_block(name, gid, state, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.gid}, #{entity.state}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="bid" useGeneratedKeys="true">
        insert into minibox.mb_block(name, gid, state, create_time, update_time)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.name}, #{entity.gid}, #{entity.state}, #{entity.createTime}, #{entity.updateTime})
        </foreach>
        on duplicate key update
        name = values(name) , gid = values(gid) , state = values(state) , create_time = values(create_time) ,
        update_time = values(update_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update minibox.mb_block
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="gid != null">
                gid = #{gid},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where bid = #{bid}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from minibox.mb_block
        where bid = #{bid}
    </delete>

</mapper>