<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghw.minibox.mapper.MbOrderMapper">

    <resultMap id="orderMap" type="com.ghw.minibox.entity.MbOrder">
        <id property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="orderId" column="order_id"/>
        <result property="orderGameId" column="order_game_id"/>
        <result property="orderCost" column="order_cost"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
        <result property="status" column="status"/>
        <result property="success" column="is_success"/>
    </resultMap>

    <select id="queryById" resultMap="orderMap">
        SELECT id,
               uid,
               order_id,
               order_game_id,
               create_date,
               update_date,
               status,
               is_success,
               order_cost
        FROM mb_order
        WHERE id = #{id}
    </select>

    <select id="queryAll" resultMap="orderMap">
        SELECT id,
        uid,
        order_id,
        order_game_id,
        create_date,
        update_date,
        status,
        is_success,
        order_cost
        FROM mb_order
        <where>
            <if test="id!=null">
                id = #{id}
            </if>
            <if test="uid!=null">
                AND uid = #{uid}
            </if>
            <if test="orderId!=null">
                AND order_id = #{orderId}
            </if>
            <if test="orderGameId!=null">
                AND order_game_id = #{orderGameId}
            </if>
            <if test="status!=null">
                AND `status` = #{status}
            </if>
            <if test="success!=null">
                AND is_success = #{success}
            </if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mb_order(order_id, order_game_id, is_success, order_cost, uid)
        VALUES (#{orderId}, #{orderGameId}, #{success}, #{orderCost}, #{uid})
    </insert>

    <update id="update" keyProperty="id" useGeneratedKeys="true">
        UPDATE mb_order
        SET is_success = #{success}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE
        FROM mb_order
        WHERE id = #{id}
          AND order_id = #{orderId}
    </delete>


</mapper>