<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghw.minibox.mapper.MbPhotoMapper">

    <resultMap type="com.ghw.minibox.entity.MbPhoto" id="MbPhotoMap">
        <result property="pid" column="pid" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="VARCHAR"/>
        <result property="photoLink" column="link" jdbcType="VARCHAR"/>
        <result property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="tid" column="tid" jdbcType="INTEGER"/>
        <result property="cid" column="cid" jdbcType="INTEGER"/>
        <result property="gid" column="gid" jdbcType="INTEGER"/>
        <result property="state" column="state" jdbcType="INTEGER"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="MbPhotoMap">
        select pid,
               type,
               link,
               uid,
               tid,
               cid,
               gid,
               state,
               create_date,
               update_date
        from minibox.mb_photo
        where pid = #{pid}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="MbPhotoMap">
        select pid,
               type,
               link,
               uid,
               tid,
               cid,
               gid,
               state,
               create_date,
               update_date
        from minibox.mb_photo
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="MbPhotoMap">
        select
        pid, type, link, uid, tid, cid, gid, state, create_date, update_date
        from minibox.mb_photo
        <where>
            <if test="pid != null">
                and pid = #{pid}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            <if test="link != null and link != ''">
                and link = #{link}
            </if>
            <if test="uid != null">
                and uid = #{uid}
            </if>
            <if test="tid != null">
                and tid = #{tid}
            </if>
            <if test="cid != null">
                and cid = #{cid}
            </if>
            <if test="gid != null">
                and gid = #{gid}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
            <if test="createDate != null">
                and create_date = #{createDate}
            </if>
            <if test="updateDate != null">
                and update_date = #{updateDate}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="pid" useGeneratedKeys="true">
        insert into minibox.mb_photo(type, link, uid, tid, cid, gid)
        values (#{type}, #{photoLink}, #{uid}, #{tid}, #{cid}, #{gid})
    </insert>

    <insert id="insertBatch" keyProperty="pid" useGeneratedKeys="true">
        insert into minibox.mb_photo(type, link, uid, tid, cid, gid)
        values
        <foreach collection="list" item="entity" separator=",">
            (#{entity.type}, #{entity.photoLink}, #{entity.uid}, #{entity.tid}, #{entity.cid}, #{entity.gid})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="pid" useGeneratedKeys="true">
        insert into minibox.mb_photo(type, link, uid, tid, cid, gid, state, create_date, update_date)
        values
        <foreach collection="list" item="entity" separator=",">
            (#{entity.type}, #{entity.link}, #{entity.uid}, #{entity.tid}, #{entity.cid}, #{entity.gid},
            #{entity.state}, #{entity.createDate}, #{entity.updateDate})
        </foreach>
        on duplicate key update
        type = values(type) , link = values(link) , uid = values(uid) , tid = values(tid) , cid = values(cid) , gid =
        values(gid) , state = values(state) , create_date = values(create_date) , update_date = values(update_date)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update minibox.mb_photo
        <set>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="link != null and link != ''">
                link = #{link},
            </if>
            <if test="uid != null">
                uid = #{uid},
            </if>
            <if test="tid != null">
                tid = #{tid},
            </if>
            <if test="cid != null">
                cid = #{cid},
            </if>
            <if test="gid != null">
                gid = #{gid},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="createDate != null">
                create_date = #{createDate},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate},
            </if>
        </set>
        where pid = #{pid}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from minibox.mb_photo
        where pid = #{pid}
    </delete>

</mapper>