<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghw.minibox.mapper.MbUserMapper">

    <!--查询单个-->
    <resultMap id="simple" type="com.ghw.minibox.entity.MbUser">
        <!--用户的基本信息-->
        <id property="uid" column="uid"/>
        <result property="username" column="username"/>
        <result property="nickname" column="nickname"/>
        <result property="description" column="user_desc"/>
        <result property="level" column="level"/>
        <result property="exp" column="exp"/>
        <result property="walletBalance" column="wallet_balance"/>
        <result property="gameNumber" column="game_num"/>
        <!--用户关联的头像-->
        <association property="mbPhoto" javaType="com.ghw.minibox.entity.MbPhoto">
            <result property="photoLink" column="user_photo_ink"/>
        </association>
        <!--用户拥有的游戏-->
        <collection property="gameList" ofType="com.ghw.minibox.entity.MbGame">
            <id property="gid" column="gid"/>
            <result property="name" column="name"/>
            <result property="coverImg" column="cover_img"/>
            <result property="price" column="game_price"/>
            <result property="description" column="game_desc"/>
        </collection>
    </resultMap>


    <select id="queryById" resultMap="simple">
        SELECT u.uid,
               u.username,
               u.nickname,
               u.description                                         AS user_desc,
               u.`level`,
               u.exp,
               u.wallet_balance,
               g.gid,
               g.`name`,
               g.cover_img,
               g.price                                               AS game_price,
               g.description                                         AS game_desc,
               (SELECT COUNT(*) FROM mb_user_game WHERE u.uid = uid) AS game_num,
               p.link                                                AS user_photo_ink

        FROM mb_user AS u
                 LEFT JOIN mb_photo AS p ON (p.uid = u.uid)
                 LEFT JOIN mb_user_game AS ug ON (u.uid = ug.uid)
                 LEFT JOIN mb_game AS g ON (ug.gid = g.gid)

        WHERE u.uid = #{uid}
          AND p.type = 'UP';
    </select>

    <!--查询单个通过username-->
    <resultMap type="com.ghw.minibox.entity.MbUser" id="MbUserMap">
        <!--用户的非敏感信息-->
        <id property="uid" column="uid" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryByUsername" resultMap="MbUserMap">
        SELECT u.uid, u.username
        FROM mb_user AS u
        WHERE u.username = #{username}
    </select>

    <!--新增部分列，其余使用数据库默认值-->
    <insert id="insert" keyProperty="uid" useGeneratedKeys="true">
        insert into minibox.mb_user(nickname, username, password)
        values (#{nickname}, #{username}, #{password})
    </insert>


    <update id="update" useGeneratedKeys="true" keyProperty="uid">
        UPDATE mb_user
        <set>
            <if test="nickname!=null and nickname!=''">
                `nickname` = #{nickname},
            </if>
            <if test="description!=null and description!=''">
                `description`=#{description},
            </if>
            <if test="password!=null and password!=''">
                `password`=#{password},
            </if>
        </set>
        WHERE uid = #{uid}
    </update>


</mapper>